
body, .footer, .card{
    background-color: hsl(142, 52%, 96%);
}

/* .card{
    background-color: hsl(142, 52%, 96%);
}

.footer {
    background-color: hsl(142, 52%, 96%);
} */

.buttons {
    align-items: center;
    width: 100%;
}

.container {
    overflow: hidden;
}

.hero-carousel {
    align-items: center;
}

.hero-foot {
    background-color: tomato;
}

.logo {
    width: 2em;
    height: 2em;
}


.title {
    color: rgb(152, 152, 243);
}

.subtitle {
    color:rgb(184, 184, 247);
}

body {
    font-family: Garamond, serif;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Media */
@media screen and (max-width: 768px) {
    .hero-body ul {
        padding-top: 250px;
    }
}

/* @media screen and (max-width: 575px) {
    .hero-carousel {
        align-items: center;
    }
} */

