
body{
    background-color: hsl(180, 60%, 88%);
}

#postalCode, #name {
    background-color: hsl(142, 52%, 96%);

}

.label, .radio, .card{
    color:hsl(217, 71%, 53%);		
}

img {
    align-self: center;
}

a {
    width: 5em;
    display: flex;
    justify-content: center;
    align-self: center;
}

.no-flex {
    display: block;
}

.buttons {
    align-items: center;
    width: 100%;
}

.btns  {
    display: flex;
    justify-content: space-between;
}
#favorites{
    background-color:rgb(138, 184, 243);
    color: black;
    float: right;
}

#favorites:hover{
    background-color: rgba(255, 105, 180, 0.308);
}

.container {
    overflow: hidden;
}

.logo {
    width: 2em;
    height: 2em;
}


.title {
    color: rgba(63, 136, 219, 0.685);
}

.subtitle {
    color:rgba(63, 136, 219, 0.685);
}

body {
    font-family: Garamond, serif;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* footer style */
.footer {
    background-color: hsl(180, 60%, 88%);;
    color:hsl(217, 71%, 53%)		
} 


.pet-pictures{
    display: flex;
    justify-content: center;
}
/* favorites page styling */
#back{
    background-color:rgba(63, 136, 219, 0.685);
    color: black;
}
#back:hover{
    background-color: rgba(255, 105, 180, 0.308);
}

.name{
    color:rgb(214, 29, 159);
    font-weight: bold;
    font-size: 2em;
}

.card {
    width: 18em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    background-color: hsl(142, 52%, 96%);
}

.border{
    border: 3px dashed rgba(63, 136, 219, 0.685);
}

.adopt-btn {
    border: 3px dashed rgba(63, 136, 219, 0.685);
    background-color: rgba(255, 105, 180, 0.308);
    color: rgba(63, 136, 219, 0.685);
    font-weight: bold;
}

.adopt-btn:hover { 
    text-decoration: none; 
    font-style: italic;
    border: 3px dashed rgba(63, 136, 219, 0.685);
    background-color: rgba(63, 136, 219, 0.685);
    color: white;
    font-weight: normal;
}

.card-header {
    font-weight: bold;
}

.img-size {
    width: 282px;
    height: 282px;
}

/* Media */
@media screen and (max-width: 768px) {
    .hero-body ul {
        padding-top: 250px;
    }
}

/* @media screen and (max-width: 575px) {
    .hero-carousel {
        align-items: center;
    }
} */

